.shopping-input-section {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.shopping-list ul {
    list-style-type: none;
    padding: 0;
}

.shopping-list li {
    margin: 0.5rem 0;
}

.shopping-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1500;
}

.shopping-modal .shopping-modal-content {
    background: rgb(254, 236, 155) !important;
    padding: 20px;
    border-radius: 10px;
    width: 80% !important;
    max-width: 250px !important;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.shopping-modal-content .shopping-input {
    text-align: center;
    width: 70%;
    font-size: 1rem;
    margin: 10px 10px;
}

.shopping-modal-content h2 {
    font-weight: bold;
}

.shopping-modal-content .shopping-button {
    padding: 2px 12px;
    background: #f0c040;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.shopping-modal-content .shopping-button:hover {
    background: #d9a030;
    transform: scale(1.05);
}

.shopping-modal-content .shopping-button:active {
    transform: scale(0.95);
}

.shopping-modal-content .shopping-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1rem;
    color: black;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopping-modal-content .shopping-close-button:hover {
    background-color: rgb(255, 47, 47);
}

.main-shopping-list {
    background: rgb(254, 236, 155);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 180px;
    margin: 900px 0 0 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-shopping-list h2 {
    font-weight: bold;
}

.open-shopping-list-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f0c040;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.open-shopping-list-button:hover {
    background-color: #d9a030;
}

.shopping-crossed {
    text-decoration: line-through;
    color: gray;
    cursor: pointer;
}